/*VARIABLES*/
:root {
    --rowNum: 4;
    --colNum: 4;
    --gridHeight: 128px;
    --gridWidht: 128px;
}

/*FUENTES*/
@font-face {
    font-family: 'good-times';
    src: url('fonts/good_times/good_times_rg-webfont.eot');
    src: url('fonts/good_times/good_times_rg-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/good_times/good_times_rg-webfont.woff2') format('woff2'),
         url('fonts/good_times/good_times_rg-webfont.woff') format('woff'),         
         url('fonts/good_times/good_times_rg-webfont.svg#goodtimes') format('svg');
}

/*CUERPO*/
body {
    margin: 10px;
}

/*CONTAINER ELEMENTS*/
.container {
    display: grid;
    text-align: center;
    gap: 10px;
    grid-template-areas: "puntos . cronometro"
                         "baraja baraja baraja";
}

/*PUNTOS*/
.puntos {
    grid-area: puntos;
    font-family: good-times;

    background-color: pink;
}

/*CRONOMETRO*/
.cronometro {
    grid-area: cronometro;
    background-color: aquamarine;
}

.reloj {
    display: inline;
    font-family: 'good-times';
    font-weight: bold;
}

/* GRID */
.wrapper {
    grid-area: baraja;
    padding: 2%;

    display: grid;
    justify-content: center;
    grid-template-rows: repeat(var(--rowNum), var(--gridHeight));
    grid-template-columns: repeat(var(--colNum), var(--gridWidht));
    gap: 30px;

    background-color: lightcoral;
    border: 2px solid black;
    border-radius: 15px;
}

.grid-item {
    grid-column-start: auto;
    grid-row-start: auto;    
}

.grid-item > input[type='image'] {
    background: white;    
    border-radius: 12px;
}

.grid-item > input:hover {
    border: 2px solid black;    
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.grid-item > input[visible='true'] {
    transform:scale(1.2);
    -ms-transform:scale(1.2); /* IE 9  */
    -moz-transform:scale(1.2); /* Firefox */
    -webkit-transform:scale(1.2); /* Safari and Chrome */
    -o-transform:scale(1.2); /* Opera */
}

.grid-item > input:disabled {
    opacity: 0.8;
    border: none;
    box-shadow: none;
}

/* MODAL INICIAL */
.modalDialog {
    display: block;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,.8);
    -webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
}

.modal-content {
    width: 60%; /*TAMAÑOS PEQUEÑOS SUBIR A 80% */
    margin: 5% auto;
    border-radius: 5px;
    background: #fff;
    text-align: center;

    display: grid;
    gap: 5px;
}

.modal-header {
    padding-top: 3%;
    font-family: 'good-times';
    font-weight: bold;
}

.modal-body {
    display: grid;
    grid-auto-flow: column;
    gap: 10px;
    padding: 3%;    
}

/*MODAL PUNTOS*/
.modal-score-body {
    display: grid;
    justify-content: space-around;
    padding: 2%;
}

.tabla {
    grid-auto-flow: column;    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.titlePtos {
    font-family: 'good-times';
    font-size: small;
}

/*BOTONES*/
.btn {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 7px 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}